{
    font-family: 'Open Sans', sans-serif; 
}

.navbar {
    background-color: #ffffff;
    padding:  0rem 1rem !important;
}

#navbar_hero_overlay_combined {
    background-image: url("../images/hero_image.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar_hero_overlay_combined_container {
    height: 100vh;
    background: rgb(0, 0, 0, 0.5);
}

.hero-container {
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-overlay {
    padding-top: 100px; 
}
.hero-section-header {
    text-align: center;
    font-family: 'Montserrat';
    color: #ffffff;
}

#hero-section-text {
    max-width: 1140px;
    margin: auto;
    color: rgb(220, 220, 220);
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .hero-section-header > h1 {font-size: 56px;}
    .hero-section-header > p {font-size: 36px;}
    
}

h1 {
    padding: 100px 15px 15px 15px;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
}

.founder-container, .technology-partner-container,
.logistics-partner-container, .about-container,
.associated-companies-container, .team-capabilities-container, 
.footer-block-group{
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.associated-companies-container > h1 {
    padding: 70px 15px 15px 15px !important;
}

@media (max-width: 768px) {
    .founder-container, .technology-partner-container,
    .logistics-partner-container, .about-container, 
    .team-capabilities-container,
    .footer-block-group{
        max-width: 1140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .founder-img-block {
        order: 1;
    }

    .founder-details-block {
        order: 2;
    }

    .technology-partner-img-block {
        order: 1;
    }

    .technology-partner-details-block {
        order: 2;
    }

    .logistics-partner-img-block {
        order: 1;
    }

    .logistics-partner-details-block {
        order: 2;
    }
}

@media (min-width: 769px) {
    .founder-img-block {
        order: 1;
    }

    .founder-details-block {
        order: 2;
    }

    .technology-partner-img-block {
        order: 2;
    }

    .technology-partner-details-block {
        order: 1;
    }

    .logistics-partner-img-block {
        order: 1;
    }

    .logistics-partner-details-block {
        order: 2;
    }
}

.founder-details-block, .founder-img-block, .technology-partner-details-block, .technology-partner-img-block,
.logistics-partner-details-block, .logistics-partner-img-block {
    width: 50%;
    padding: 100px 15px 15px 15px;
}

@media (max-width: 768px) {
    .founder-details-block, .founder-img-block, .technology-partner-details-block, .technology-partner-img-block,
    .logistics-partner-details-block, .logistics-partner-img-block {
        width: 100% !important;
        padding: 15px 15px 15px 15px;
    } 
}

.founder-img-block, .technology-partner-img-block, .logistics-partner-img-block {
    order: 1;
}

.founder-details-block, .founder-img-block{
    width: 50%;
    padding: 15px;
}

.founder-img-block > img, .logistics-partner-img-block > img {
    width: 100%;
    transition: transform .5s, transform .5s;
}

.technology-partner-img-block > img {
    width: 100%;
    transition: transform .5s, transform .5s;
}

.founder-img-block > img:hover, .logistics-partner-img-block > img:hover {
    transform: scale(1.05) rotate(3deg);
}

.technology-partner-img-block > img:hover {
    transform: scale(1.05) rotate(-3deg);
}

.about-block {
    font-family: 'Open Sans', sans-serif;
    width: 33.33%;
    padding: 100px 15px 15px 15px;
    transition: background-color 1s, color 1s;
}

@media (max-width: 768px) {
    .about-block {
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        padding: 50px 15px 15px 15px;
        transition: background-color 1s, color 1s;
    }
}

.fontawesome-icons {
    width: 30%;
    display: none;
    justify-content: center;
    background-color: #30B342;
    margin-left: auto;
    margin-right: auto;
}

.fa {
    padding: 10px;
    color: #fff;
}

.about-img {
    width: 100%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.about-block:hover {
    background-color: #30B342;
    color: #ffffff;
}

.associated-companies-container {
    position: relative;
    background-image: url("../images/laptop.png");
    background-repeat: no-repeat;
    background-position: center;
}

.associated-companies-container > p {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-weight: 700;
}

@media (min-width: 769px) {
    .associated-companies-container > p { font-size: 36px;}
}

@media (max-width: 768px) {
    .associated-companies-container > p { font-size: 16px;}
}

.associated-companies-logo {
    width: 150px;
    min-height: 0px;
}

.associated-companies-group-1, .associated-companies-group-2 {
    width: 50%;
    padding: 15px;
}

.associated-companies-group-2 {
    text-align: right;
}

ul {
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0;
    display: inline;
}

.associated-companies-container-block {
    padding-top: 25px;
    min-height: 320px;
}


@media (max-width: 768px) {
    .associated-companies-container {
        background-image: url();
    }
}

.numbers-highlight, .units-highlight {
    color: rgb(48, 179, 66);
}

.numbers-highlight {font-weight: bold; font-size: 36px;}  

.units-highlight {font-weight: bold; font-size: 36px;}  

.team-capabilities-container {
    text-align: center;
}

@media (max-width: 768px) {
   .team-capabilities-right-section {
        width: 100% !important;
    }
    .team-capabilities-left-section {
        margin-top: auto;
        margin-bottom: auto;
        text-align: left;
        width: 100% !important;
    }
}

.team-capabilities-right-section {
    width: 50%;
}

.team-capabilities-left-section {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    padding: 15px;
    width: 50%;
}

.team-capabilities-left-section > p:nth-child(odd){
    font-size: 22px;
    font-weight: 500;
}

.team-capabilities-block-group-1,
.team-capabilities-block-group-2,
.team-capabilities-block-group-3 {
    display: flex;
    justify-content: center;
} 

.team-capabilities-block {
    width: 25.33%;
    padding: 15px;
}

@media (max-width: 768px) {
    .team-capabilities-block {width: 33.33%;}
}

@media (max-width: 778px) {
    width: 100%;
    padding: 15px;
}

.team-capabilities-icon {
    width: 70%;
}

.footer {
    background-image: url("../images/hero_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-container {
    background: rgb(0, 0, 0, 0.5);
}

.footer-block-group {
    padding: 70px 0 50px 0;
}

.footer-block{
    color: #ffffff;
    width: 25%;
    padding: 15px;
}

.footer-block > p {
    padding-top: 15px;
}

@media (max-width: 778px) {
    .footer-block {
        width: 100%;
        text-align: center;
    }
    .footer-block-group {
        padding: 25px;
    }
}

.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {visibility: visible; animation:slide 1s;}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}






































